{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1> </h1>
    {% for program in programs %}
        <p>{{ program.title }}</p>
        <p>{{ season.number }}</p>
        <p>{{ episode.number }} {{ episode.title }}</p>
        <p>{{ episode.synopsis }}</p>
    {% endfor %}
{% endblock %}